@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#gradient-bg {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    background: rgb(171,205,225);
    background: linear-gradient(90deg, rgba(171,205,225,1) 0%, rgba(69,207,124,1) 45%, rgba(187,222,88,1) 100%);
}

main {
    overflow: visible;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    top: 10%;
    left: 7%;
    background: white;
    width: 85vw;
    height: 80vh;
    border-radius: 10px;
    -webkit-box-shadow: 5px 3px 36px -2px rgba(0,0,0,0.61); 
    box-shadow: 5px 3px 36px -2px rgba(0,0,0,0.61);
    display: flex;
    flex-direction: row;
}

#left {
    background: #b7b7b76e;
    width: 38%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
}

#first-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-text-right {
    font-size: 35px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 40px;
}

.form {
    color: rgba(0, 0, 0, 0.5);
    width: 80%;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.form input {
    border: rgba(0, 0, 0, 0.3) solid 2px;
    width: 100%;
    padding: 0 7px;
}

.small {
    width: 45%;
}

.small-input {
    height: 42px;
}

.medium-input {
    width: 100%;
    height: 42px;
}

.bigboy {
    width: 100%;
    height: 220px;
    padding: 0 7px;
    border: rgba(0, 0, 0, 0.3) solid 2px;
}

.form div {
    margin-bottom: 15px;
}

#sendBtn {
    background-color: #b7b7b76e;
    font-weight: bold;
    padding: 12px 0;
    font-size: 20px;
    text-transform: uppercase;
}

#heading-text-success {
    font-size: 70px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    width: 1113px;
}

#paragraph-success {
    font-size: 25px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    width: 1113px;
}